'''
step 1: create an empty dict
|
step 2: file handling - read data from network.cfg file - line by line
     - split each line into multiple values 
    #  - based on = (ex:  'Type= ethernet'.split("=") ->['Type','ethernet'])
                                    0         1
     - add data to dictionary 
                   ----------
            List of 0th index Key ; List of 1st index Value

step 3: use pprint.pprint(dict_Data) - display network data
|
step 4: dict operation
|
step 5: use pprint.pprint(updated_data) - display updated dict 
|
step 6: file handling - create a newConfig file - write updated dict contents to newFile
            (same network config format)

Interface=eth0
Type=ethernet
onboot=no
bootproto=dhcp
Domain = example.com
|
Convert to static config file
|
update the interface to eth1
update onboot -> yes
update bootproto -> static
|
Add IPADDR -> 192.168.1.10
Add PREFEX -> 24
Add nameserver -> DNS = 122.33.344.555
--------------------------------------------- // dict opeartion
|
Create a new Config file
Write updated network configuration(Static configuration) details to new_network.cfg file

new_network.cfg

Type = ethernet
Interface = eth1
onboot = yes
bootproto = static
IPADDR = 192.168.1.10
PREFIX = 24
DNS = 122.33.344.555
Domain = example.com

'''

Interface=eth0
Type=ethernet
onboot=no
bootproto=dhcp
DOMAIN=example.com
